<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable-pro/dist/handsontable.full.min.css">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>

  <title>{{ title }}</title>
</head>
<body>
  <div id="nav-area">
    <div id="tab-area"></div>
    <button id="save">Save</button>
  </div>

  <div id="handsontable-container">
    <div id="handsontable-area"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/handsontable-pro/dist/handsontable.full.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/showdown.min.js') }}"></script>

  <script>var data = {{ data|tojson }};</script>
  <script>var config = {{ config|tojson }};</script>
  <script src="{{ url_for('static', filename='renderer.js') }}"></script>
  <script src="{{ url_for('static', filename='default.js') }}"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
